API_ID=23825467
API_HASH=5e699f0de1f4ef172ef98cf3d4811395
BOT_TOKEN=6098364034:AAGIz5iQ4EIRdlRG3LcH5SVKWPSFPy5cKfI
LOG_GROUP_ID=-1001949045877
MONGO_DB_URI=mongodb+srv://tansel26:tansel1430@cluster0.lrplsud.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=DamlaMusicBot
OWNER_ID=5635928929
STRING_SESSION=BAB7a1SjAZdTKsYERd1qA61tsUQkK2MUvekbfqmk-Enk7gXyKur2r4ZUesmpk0KWYNiqr6O2KIUnD4b_OmGamgSLmn4JZbiIWuXtMXrEq4xnElVxl6Q5_UBh3wQzqlGmvKFBlfI89Cb3oW2hO5vHrk7z5fxokHcwi18GDb-yNjirK89vVCjOUvJpW_9dKgDAwjsFyg_6-a7Y4_w6t8bIcxw_kE75_uzSSZAZZ-4zVUInU82MR6SB6JBpEvbGegA5_GrMEwJZ9XKHFh9WPuPhh1B9AdgcN0n8HQaYsEWayAfL-orV-stn7lKHgk_oZISqDOBIQayJRW9ScpHTyLQERdhpAAAAAWZl-xoA
