API_ID=23825467
API_HASH=5e699f0de1f4ef172ef98cf3d4811395
BOT_TOKEN=6098364034:AAGIz5iQ4EIRdlRG3LcH5SVKWPSFPy5cKfI
LOG_GROUP_ID=-1001890228581
MONGO_DB_URI=mongodb+srv://tansel26:tansel1430@cluster0.lrplsud.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=DamlaMusicBot
OWNER_ID=5635928929
STRING_SESSION=BABJal_AM9PbkGoGJZbjhj2zP2NmofJWD_ZnqdxewKhOjOQmOR1RzejApwdktSU5MAEOrpyubP9BGO6RfUavOsdGhOv4ghmun5ywabkD_1S45wuJZ-wg17P1yJcGZ7_GSWEIbNOg79Dp_zUcLca45KmP0-wdQBpsCXuwp_eo1DOka2TWmZYpynd_epG_1taBHgnZw1YuYlUQ81LvdnLe0OTvcmXLtmegC8NR5gh2qn6LKoVyWPjtwGCgFHmLjdK_5J12tylUFx_x9OEN0tKAjTBAEDG2RhTMnl0cPHm9fu6oJApNsStdTOtlsoiG2mByovuGQLhkb26a0eKAABffIo7eAAAAAWZl-xoA
