API_ID=23825467
API_HASH=5e699f0de1f4ef172ef98cf3d4811395
BOT_TOKEN=6098364034:AAGIz5iQ4EIRdlRG3LcH5SVKWPSFPy5cKfI
LOG_GROUP_ID=-1001890228581
MONGO_DB_URI=mongodb+srv://tansel266:tansel1430@cluster0.nbhxbsl.mongodb.net/?retryWrites=true&w=majority
MUSIC_BOT_NAME=DamlaMusicBot
OWNER_ID=5635928929
STRING_SESSION=BACNq3J8b94SkwjPFGXRIGSVr0uBWlNdyjHCLNPBbyE7RRQjjCdWCl36f41olmMKnNlbifk2wlC_PUW99igtqT4VOtjufp_vsBD-sioLG_YXOfg2VUkRpJOej_g3ez9Vn_rSen7DuUx6k_et59FB8pw0lqy6X9qFPk8tfmI6ETl0n4ls-HpkPzLSRJHSGfHqcpzMMkMosirGKXAlTuBk_mETw92oYmGpXgq3TDq5gX2Dt2vtLrypI-dm9dwMIzZJc2pWvMGrPx_kd8u5p2gGasuWBWp7lw3FxSohgt6d1FW8rfhtcc1nqkuSaBfiwCjQwe7o_8ifkIHOS9HLL5VuhS9TAAAAAWZl-xoA
